# Built application files
*.apk
*.ap_
*.aab

# Files for the ART/Dalvik VM
*.dex

# Java class files
*.class

# Gradle files
.gradle/
build/
**/build/

# Local configuration file (sdk path, etc)
local.properties

# Log Files
*.log

# Android Studio
.idea/
*.iml
*.iws
*.ipr
.cache/
captures/
.externalNativeBuild/
.cxx/

# Keystore files
*.jks

# OS-specific
.DS_Store
Thumbs.db

# Fastlane metadata
fastlane/report.xml
fastlane/metadata/android/*

# Kotlin specific
*.kotlin_module

# Code coverage
coverage.ec

# Google Services and profiling
*.hprof
google-services.json

# Build metadata
output-metadata.json
